$white: #ffffff;
$darkgray: #1d1d1d;
$mediumgray: #303030;
$lightgray: #a8a8a8;
$darkorange: #ec6a00;
$mediumorange: #ead4c1;
$lightorange: #ff9a48;
$blue:#0952c0;
$black: #000000;
$beige:#F1EEDC;
$cream: #c6af8d;
$gray:#BED7DC;
$lighcream: #FFF3CF;
$sea:#637A9F;

.articleCardBody{
    width: 330px;
    background-color: $gray;
    margin: 2rem;
    border-radius: 2px;

    .articleCard{
        display:flex;
        flex-direction: row;
        margin: 0;
        text-align: left;
        height: 270px;
        img {
            margin: 0;
            height: 270px;
            width: 180px;
            border-radius: 5px 0 0 0;
        }
        
        
        div {
            margin: 0 1rem;
            h2{
                font-size: 0.9rem;
            }
        
            h3 {
                font-size: 0.7rem;
                margin-bottom: 0;
            }

            h4 {
                font-size: 0.7rem;
                margin-bottom: 0;
                margin-top: .5rem;
            }

            ul {
                display: flex;
                flex-direction: column;
                padding: 0;
                font-size: 0.5rem;
                list-style: none;
                margin: 0;
                margin-bottom: 0rem;

                li{
                    margin: 0;
                }
            }

            p{
                font-size: 0.5rem;
                margin-top: .1rem;
                margin-bottom: .1rem;
            }

            .articleCardAmazonList{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                li{
                    margin: 0rem;
                    a{
                        margin-right: .4rem;
                    }
                }
            }

            a{
                color: $black;
                &:hover{
                    color: $beige;
                }
            }
        }
    }
    .readMore{
        color: $white;
        background-color: $cream;
        display: inline-block;
        font-weight:50px;
        padding: .8rem 0;
        border-radius: 0 0 5px 5px;
        width: 100%;

        &:hover{
            background-color: $sea;
        }

    }
}
