$white: #ffffff;
$darkgray: #ede0e0;
$mediumgray: #303030;
$lightgray: #f7f5f5;
$black: #000000;
$mediumborange: #ea6513;
$lightorange: #d7dcdf;
$blue:#0952c0;
$beige:#F1EEDC;
$rootsize: 20px;


.bookPage{
    margin: 0 auto;
    max-width: 650px;
    
    nav{
        text-align: left;
        margin: 1rem 0;
        color: $beige;;

        
        .homeButton{
            color: $beige;
            text-align: left;
            margin: .5rem;
            &:hover{
                color: $black;
                cursor: pointer;
            }
        }
    }

    section{
        img{
            display: block;
            margin: auto auto;
            margin-top: 4rem;
            
            
        }

        div{
            display: block;
            text-align: left;
            margin: auto auto;
            color: $black;

            h2 {
                font-size: 1rem;
                margin-bottom: .5rem;
                margin-top: 1.7rem;
                
            }

            h3 {
                font-size: 1rem;
                margin-bottom: .5rem;
                margin-top: 1.7rem;
            }

            h4 {
                font-size: 1rem;
                margin-bottom: .5rem;
            }

            ul{
                list-style: none;
                padding: 0;
                margin: 0 0 1rem 0;;
            }

            a{
                color: $mediumborange;


                &:hover{
                    color: $mediumborange;
                    cursor: pointer;
                }
            }
        }
    }

}
