$white: #ffffff;
$darkgray: #1d1d1d;
$mediumgray: #303030;
$lightgray: #a8a8a8;
$darkorange: #ec6a00;
$mediumorange: #ead4c1;
$lightorange: #ff9a48;
$blue:#0952c0;
$black: #000000;

.articleCardBody{
    width: 430px;
    background-color: $white;;
    margin: 2rem;
    border-radius: 5px;

    .articleCard{
        display:flex;
        flex-direction: row;
        margin: 0;
        text-align: left;
        height: 370px;
        img {
            margin: 0;
            height: 370px;
            width: 280px;
            border-radius: 5px 0 0 0;
        }
        
        
        div {
            margin: 0 1rem;
            h2{
                font-size: 1.2rem;
            }
        
            h3 {
                font-size: 1rem;
                margin-bottom: 0;
            }

            h4 {
                font-size: 1rem;
                margin-bottom: 0;
                margin-top: .5rem;
            }

            ul {
                display: flex;
                flex-direction: column;
                padding: 0;
                font-size: 1rem;
                list-style: none;
                margin: 0;
                margin-bottom: 0rem;

                li{
                    margin: 0;
                }
            }

            p{
                font-size: 1rem;
                margin-top: .1rem;
                margin-bottom: .1rem;
            }

            .articleCardAmazonList{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                li{
                    margin: 0rem;
                    a{
                        margin-right: .4rem;
                    }
                }
            }

            a{
                color: $white;
                &:hover{
                    color: $white;
                }
            }
        }
    }
    .readMore{
        color: $darkgray;
        background-color: $mediumorange;
        display: inline-block;
        font-weight: 400;
        padding: .8rem 0;
        border-radius: 0 0 5px 5px;
        width: 100%;

        &:hover{
            background-color: $lightgray;
        }

    }
}
@media screen and (min-width: 600px){
    .articleCardBody{
        width: 600px;
        .articleCard{
            height: 400px;
            img {
                height: 400px;
                width: 300px;
            }
        }
    }