$white: #ffffff;
$darkgray: #ede0e0;
$medium_gray: #303030;
$lightgray: #f7f5f5;
$black: #000000;
$medium_orange: #ea6513;
$light_orange: #d7dcdf;
$blue:#0952c0;
$beige:#F1EEDC;
$gray:#BED7DC;
$cream: #c6af8d;
$sea:#637A9F;
$size: 50px;


.bookPage{
    margin: 0 auto;
    max-width: 100%;
    
    nav{
        text-align: left;
        margin: 1rem 0;
        color: $sea;

        
        .homeButton{
            color: $cream;
            text-align: left;
            margin: .5rem;
            &:hover{
                color: $sea;
                cursor: pointer;
            }
        }
    }

    section{
        img{
            display: block;
            margin: auto auto;
            margin-top: 4rem;
            
            
        }

        div{
            display: block;
            text-align: left;
            margin: auto auto;
            color: $sea;

            h2 {
                font-size: 1rem;
                margin-bottom: .5rem;
                margin-top: 1.7rem;
                
            }

            h3 {
                font-size: 1rem;
                margin-bottom: .5rem;
                margin-top: 1rem;
            }

            h4 {
                font-size: 1rem;
                margin-bottom: .5rem;
            }

            ul{
                list-style: none;
                padding: 0;
                margin: 0 0 1rem 0;;
            }

            a{
                color: $black;


                &:hover{
                    color: $blue;
                    cursor: pointer;
                }
            }
        }
    }

}
