$white: #ffffff;
$darkgray: #1d1d1d;
$mediumgray: #b19249;
$lightgray: #b5b237;
$mediumborange: #ff790b;
$lightorange: #ff9a48;
$red: rgb(255, 40, 40);


.search{
    display:flex;
    flex-direction: column;

    .searchbar{
        display: flex;
        flex-direction: column;

        label{
            margin-bottom: .5rem;
        }

        .textField{
            width: 30%;
            align-self: center;
            border: 1px solid $white;
            font-size: 16px;
            background-color: transparent;
            padding: .5rem 1rem;
            overflow-x: hidden;
            border-radius: 20px;
            margin-bottom: 1rem;
        }

        .submit{
            align-self: center;
            font-size: 16px;
            font-weight: 100;
            padding: .5rem 1rem;
            border: none;
            border-radius: 3px;
            background-color: $white;

            &:hover{
                background-color: $white;
                cursor: pointer;
            }
        }
    }

    .errorMessage{
        color: $mediumborange;
    }
}