@import 'search';
@import '_bookcard';
@import 'bookpage';

$white: #ffffff;
$cream: #c6af8d;
$medium_gray: #303030;
$lightgray: #a8a8a8;
$medium_orange: #ecec0ad1;
$orange: #ff9a48;
$red: rgb(255, 40, 40);
$black: #000000;
$beige:#F1EEDC;
$gray:#BED7DC;
$sea:#637A9F;
$size: 30px;

body {
    background-color: $beige;
    width: 100%;

    #root{
        width: 90%;
        font-size: $size;

         header{
            width: 100%;
            margin-top: 4rem;
            
            .logo {
                margin-top: 10%;
                color: $sea;
                font-size: 60px;
                font-weight: 700;
             }

             nav{
                margin-top: 5rem;
                color: $sea;
            }
        }

        main {
            h1 {
                font-size: 1.5rem;
                margin-top: 2rem;
                color: $sea;
            }
            .searchResultsContent{
                max-width: 100%;
                display: flex;
                flex-direction: row-reverse;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
            }
        }
         
     }
}

